@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: sans-serif;
  src: url('../../assets//font/Microsoft\ Sans\ Serif.ttf');
}

body,
html,
div,
p,
span,
a {
  font-family: Inter, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathing {
  0% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 30px #6de5da;
  }
  10% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 40px #6de5da;
  }
  20% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 50px #6de5da;
  }
  30% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 60px #6de5da;
  }
  40% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 70px #6de5da;
  }
  50% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 80px #6de5da;
  }
  60% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 70px #6de5da;
  }
  70% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 60px #6de5da;
  }
  80% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 40px #6de5da;
  }
  90% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 30px #6de5da;
  }
  100% {
    box-shadow: 0 0 10px #6de5da, 0 0 20px #6de5da, 0 0 30px #6de5da;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coin-input::placeholder {
  color: #eaeaea;
}

.loading-obj {
  animation: rotate 5s linear infinite;
}

/* ::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #0dd4c3;
} */

.MuiTooltip-tooltip {
  background-color: #0c111d !important;
  border-radius: 8px !important;
  padding: 8px 12px !important;
  max-width: 474px !important;
}
.MuiTooltip-arrow {
  color: #0c111d !important;
}

.inputBorder:hover {
  border: 1px solid rgb(255 255 255 / 50%) !important;
}
