@import url('./font.css');

.popover-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

iframe {
  overflow-clip-margin: content-box !important;
  border-width: 0;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  overflow: clip !important;
}

.ant-checkbox-inner {
  width: 20px !important;
  height: 20px !important;
  background-color: transparent !important;
  border-width: 1px !important;
  border-color: #ffffff33 !important;
}

.ant-checkbox {
  width: 20px !important;
  height: 20px !important;

  color: #000!important;
  background-color: #383535 !important;
}

.ant-checkbox-checked {
  background-color: #0dd4c3 !important;
}

.ant-switch {
  background-color: #6a6868 !important;
}

.ant-switch {
  &.ant-switch-checked {
    background-color: #0dd4c3 !important;

    .ant-switch-handle::before {
      background-color: #fff;
    }
  }
}

.ant-checkbox, .ant-checkbox-checked::after, .ant-checkbox-inner {
  border-radius: 4px!important;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  margin: -1px 0 0 -1px;
}

div {
  border: 0 solid;
}

// For scrollbar
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.854);
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.ant-tooltip {
  max-width: 300px !important;
}

.ant-drawer-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-drawer-content-wrapper .ant-drawer-content {
  max-width: 375px;
}
//.ant-select-selector, .ant-select-selection-item, .ant-select-selection-search,
.ant-select-selection-search-input {
  height: 50px;
  line-height: 50px;
  padding: 11px 15.2px;
  background-color: rgb(30, 30, 31);
}

.ant-select-selection-item, .ant-select-selection-search {
  background-color: rgb(30, 30, 31);
  border-radius: 10px;
  height: 46px;
  line-height: 46px!important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent!important;
}

//.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
//.ant-select-item {
//  height: 50px;
//  line-height: 50px;
//  border-radius: 10px;
//  background-color: rgb(30, 30, 31);
//}
//
//.ant-select-item-option-content {
//  line-height: 50px;
//}
.ant-select {
  height: 50px;
  line-height: 50px;
  background-color: rgb(30, 30, 31);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.ant-select-arrow {
  color: white!important;
}

.bg-item1e {
  background-color: #1E1E1F!important;
}

.bg-item-hover:hover {
  background-color: #1E1E1F!important;
  border-radius: 8px;
}

.bg-item-hover-v2:hover {
  background-color: #1A1A1A!important;
  border-radius: 8px;
}

.bg-item-hover-v3:hover {
  background-color: #1A1A1A;
  border-radius: 8px;
}

.bg-item-hover:hover .anticon-right {
  color: #fff!important;
}